----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Eikon Data API - Time Series examples
This notebook demonstrates how to retrieve Time Series from Eikon or Refinitiv Workspace.

#### Learn more
To learn more about the Data API just connect to the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [login](https://developers.refinitiv.com/iam/login) to the Refinitiv Developer Community portal you will get free access to a number of learning materials like [Quick Start guides](https://developers.refinitiv.com/eikon-apis/eikon-data-api/quick-start), [Tutorials](https://developers.refinitiv.com/eikon-apis/eikon-data-api/learning), [Documentation](https://developers.refinitiv.com/eikon-apis/eikon-data-api/docs) and much more.  

#### About the "eikon" module of the Refinitiv Data Platform Library
The "eikon" module of the Refinitiv Data Platform Library for Python embeds all functions of the classical Eikon Data API ("eikon" python library). This module works the same as the Eikon Data API and can be used by applications that need the best of the Eikon Data API while taking advantage of the latest features offered by the Refinitiv Data Platform Library for Python. 

#### Getting Help and Support

If you have any questions regarding the API usage, please post them on the [Eikon Data API Q&A Forum](https://community.developers.thomsonreuters.com/spaces/92/index.html). The Refinitiv Developer Community will be happy to help.

## Import the library and connect to Eikon or Refinitiv Workspace

In [1]:
import refinitiv.data.eikon as ek
import datetime

ek.set_app_key('YOUR APP KEY GOES HERE!')

## Get Time Series

#### Simple call with default parameters

In [2]:
ek.get_timeseries(['VOD.L'])

VOD.L           HIGH     LOW    OPEN     CLOSE  COUNT     VOLUME
Date
2021-09-08  122.9186  120.52  121.68    121.84   8583   45484021
2021-09-09    121.36  118.82  121.22    118.88  11261   59377027
2021-09-10     119.3  116.48  119.08    116.76   9735   40693436
2021-09-13    118.28  116.72   116.8    117.64   7654   29949400
2021-09-14     118.0  115.64  117.56    116.06  11170   62721690
...              ...     ...     ...       ...    ...        ...
2021-12-10    113.82  111.92  112.36     113.2   7983   50335803
2021-12-13    113.88   112.2  113.26    112.46   8568  119106859
2021-12-14     114.5  112.96  113.16    114.22  10430   53947230
2021-12-15    114.32  110.84  114.02    111.28  10233   95711661
2021-12-16    112.56   109.9  112.56  111.5283  14005   86717785

[72 rows x 6 columns]

#### Get Time Series with more parameters

In [3]:
ek.get_timeseries(['VOD.L', 'GOOG.O'], 
                  start_date=datetime.timedelta(-1), 
                  end_date=datetime.timedelta(0), 
                  interval='minute')

                      VOD.L                                           GOOG.O  \
                       HIGH     LOW    OPEN   CLOSE COUNT  VOLUME       HIGH
Date
2021-12-15 16:14:00  111.12  111.08  111.08  111.12    40  120580    2869.56
2021-12-15 16:15:00  111.24   111.1   111.1  111.24    51  203579    2870.02
2021-12-15 16:16:00  111.24  111.18  111.22  111.24    38  433499    2873.46
2021-12-15 16:17:00  111.24  111.18  111.24  111.18    23  153197     2872.5
2021-12-15 16:18:00  111.16  111.12  111.16  111.16    31  108910     2874.0
...                     ...     ...     ...     ...   ...     ...        ...
2021-12-16 16:09:00  111.54   111.4  111.42  111.54   104  283576     2928.8
2021-12-16 16:10:00  111.58  111.54  111.58  111.54    24   74686    2928.12
2021-12-16 16:11:00   111.6  111.52  111.52   111.6    57  153630     2949.7
2021-12-16 16:12:00   111.6  111.52   111.6  111.52     9   33551    2928.57
2021-12-16 16:13:00  111.54  111.52  111.52  111.52    30   85188  2925.9173


                           LOW       OPEN      CLOSE COUNT VOLUME
Date
2021-12-15 16:14:00    2866.12    2868.41    2868.77   155   2038
2021-12-15 16:15:00    2866.13    2868.36    2868.46   159   1255
2021-12-15 16:16:00    2867.84    2868.46    2871.62   242   3271
2021-12-15 16:17:00  2868.1463    2869.01    2871.31   106   1479
2021-12-15 16:18:00  2870.1101    2872.13     2871.8   303   5455
...                        ...        ...        ...   ...    ...
2021-12-16 16:09:00    2924.62    2926.82     2925.0   318   3396
2021-12-16 16:10:00    2923.62    2925.39    2925.72   206   1752
2021-12-16 16:11:00  2924.4779    2927.09  2927.3237   263   3761
2021-12-16 16:12:00     2924.2  2925.1001    2924.71   186   2394
2021-12-16 16:13:00     2920.0    2925.19    2921.81   210   1879

[956 rows x 12 columns]