----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Pricing Stream Recorder
This notebook demonstrates how to use the pricing recorder to record a history of streaming data and generate Open High Low Close bars.

#### About the record() method
The **record()** method allows you record data events received by a PricingStream object. Received data can be used to automatically generate OHLC bars stored by the recorder.

***record()*** parameters: 
- ***frequency***: Frequency used to generate OHLC bars
    - Type: String
    - Optional: Yes  
- ***duration***: Recording duration. Can be provided in seconds, minutes, hours
    - Type: String
    - Optional: Yes  
- ***ticks_per_bar***: Number of ticks to record for Tick Bars recording 
    - Type: String
    - Optional: Yes  
- ***on_data***: Callback function called when a new tick is received or when a new bar is calculated
    - Type: Function
    - Optional: Yes

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [1]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

## Some Imports to start with

In [1]:
import refinitiv.data as rd
import datetime
from IPython.display import display, clear_output

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### Record ticks

#### Create and open a Pricing stream

In [3]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

In [4]:
stream.recorder.record(frequency='tick')

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [5]:
stream.recorder.stop()
tick_history = stream.recorder.get_history()
display(tick_history)

                              GBP=            JPY=            EUR=
                               ASK     BID     ASK     BID     ASK     BID
Timestamp
2022-04-05 11:28:57.664379    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:28:57.812615    <NA>    <NA>    <NA>    <NA>  1.0981  1.0979
2022-04-05 11:28:57.868695  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:28:57.931465    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:28:58.051794    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:28:58.365373    <NA>    <NA>    <NA>    <NA>  1.0982  1.0981
2022-04-05 11:28:58.841497    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:28:58.964926    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:28:59.515695    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:28:59.879353    <NA>    <NA>    <NA>    <NA>  1.0982  1.0981
2022-04-05 11:29:00.871390    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:00.932719    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:29:01.133205    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:01.218976    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:29:01.475779    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:29:01.772402    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:29:02.099049    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:29:02.255926    <NA>    <NA>    <NA>    <NA>  1.0982  1.0981
2022-04-05 11:29:02.463602  1.3137  1.3135    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:02.463723    <NA>    <NA>    <NA>    <NA>  1.0983   1.098
2022-04-05 11:29:02.849271    <NA>    <NA>  122.79  122.78    <NA>    <NA>
2022-04-05 11:29:02.849707    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:03.003560  1.3136  1.3135    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:03.126567    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:29:03.468106    <NA>    <NA>    <NA>    <NA>  1.0982  1.0981
2022-04-05 11:29:03.948809    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:29:04.561686    <NA>    <NA>  122.82  122.77    <NA>    <NA>
2022-04-05 11:29:04.919376    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:04.919397  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:05.128665    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:29:05.463482  1.3136  1.3135    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:05.933315    <NA>    <NA>   122.8  122.77    <NA>    <NA>
2022-04-05 11:29:06.953655    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:06.962793  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:07.145844    <NA>    <NA>  122.81  122.78    <NA>    <NA>
2022-04-05 11:29:07.252163   1.314  1.3132    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:07.465434    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:07.919890    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:08.053855    <NA>    <NA>  122.81  122.78    <NA>    <NA>
2022-04-05 11:29:08.177405    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:08.919520    <NA>    <NA>  122.82  122.78    <NA>    <NA>
2022-04-05 11:29:09.131060   1.314  1.3132    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:10.025261    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:10.025653  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:10.169675    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:10.917127    <NA>    <NA>  122.81  122.78    <NA>    <NA>
2022-04-05 11:29:11.209345    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:11.742385    <NA>    <NA>    <NA>    <NA>  1.0982  1.0981
2022-04-05 11:29:11.954776    <NA>    <NA>  122.81  122.78    <NA>    <NA>
2022-04-05 11:29:12.203546    <NA>    <NA>  122.81  122.78    <NA>    <NA>
2022-04-05 11:29:12.421090  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:12.463303    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:13.221635    <NA>    <NA>    <NA>    <NA>  1.0982  1.0981
2022-04-05 11:29:14.135523    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:15.906351    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:15.943179  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:16.405974    <NA>    <NA>   122.8  122.79    <NA>    <NA>
2022-04-05 11:29:16.952630    <NA>    <NA>    <NA>    <NA>  1.0983  1.0979
2022-04-05 11:29:17.036783  1.3139  1.3132    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:18.942677  1.3138  1.3134    <NA>    <NA>    <NA>    <NA>

#### Resample the tick history to 5 seconds bars

In [6]:
tick_history.ohlc("5s")

                       GBP=                                                  \
                        ASK                             BID
                       open    high     low   close    open    high     low
Timestamp
2022-04-05 11:28:55  1.3138  1.3138  1.3138  1.3138  1.3134  1.3134  1.3134
2022-04-05 11:29:00  1.3138  1.3138  1.3136  1.3138  1.3134  1.3135  1.3134
2022-04-05 11:29:05  1.3138  1.3140  1.3136  1.3140  1.3134  1.3135  1.3132
2022-04-05 11:29:10  1.3140  1.3140  1.3138  1.3138  1.3132  1.3134  1.3132
2022-04-05 11:29:15  1.3138  1.3139  1.3138  1.3138  1.3134  1.3134  1.3132

                               JPY=          ...                    EUR=  \
                                ASK          ...     BID             ASK
                      close    open    high  ...     low   close    open
Timestamp                                    ...
2022-04-05 11:28:55  1.3134  122.79  122.80  ...  122.77  122.78  1.0981
2022-04-05 11:29:00  1.3134  122.79  122.82  ...  122.77  122.77  1.0983
2022-04-05 11:29:05  1.3132  122.80  122.82  ...  122.77  122.78  1.0983
2022-04-05 11:29:10  1.3134  122.82  122.82  ...  122.78  122.79  1.0983
2022-04-05 11:29:15  1.3134  122.80  122.80  ...  122.79  122.79  1.0983


                                                BID
                       high     low   close    open    high     low   close
Timestamp
2022-04-05 11:28:55  1.0983  1.0981  1.0982  1.0979  1.0981  1.0979  1.0981
2022-04-05 11:29:00  1.0983  1.0982  1.0983  1.0979  1.0981  1.0979  1.0979
2022-04-05 11:29:05  1.0983  1.0983  1.0983  1.0979  1.0979  1.0979  1.0979
2022-04-05 11:29:10  1.0983  1.0982  1.0982  1.0979  1.0981  1.0979  1.0981
2022-04-05 11:29:15  1.0983  1.0983  1.0983  1.0979  1.0979  1.0979  1.0979

[5 rows x 24 columns]

#### Close the stream

In [7]:
stream.close()

### Record OHLC bars for a given duration

#### Create and open a Pricing stream

In [8]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

Start recording 2 seconds OHLC bars for a duration of 10 seconds

In [9]:
stream.recorder.record(frequency='2s', duration='10s')
stream.recorder.stop()

#### Display the recorded history

In [10]:
stream.recorder.get_history()

                              EUR=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-05 11:29:33.651766    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>
2022-04-05 11:29:35.670790  1.0983  1.0984  1.0982  1.0984  1.0979  1.0981
2022-04-05 11:29:37.696670  1.0983  1.0983  1.0982  1.0982  1.0979  1.0981
2022-04-05 11:29:39.719351  1.0984  1.0984  1.0984  1.0984   1.098   1.098
2022-04-05 11:29:41.653129  1.0984  1.0984  1.0983  1.0983   1.098  1.0981

                                              GBP=          ...          \
                                               ASK          ...     BID
                               low    open   close    high  ...     low
Timestamp                                                   ...
2022-04-05 11:29:33.651766    <NA>    <NA>    <NA>    <NA>  ...    <NA>
2022-04-05 11:29:35.670790  1.0979   1.098  1.3137  1.3139  ...  1.3135
2022-04-05 11:29:37.696670  1.0979  1.0981   1.314  1.3141  ...  1.3133
2022-04-05 11:29:39.719351   1.098   1.098    <NA>    <NA>  ...    <NA>
2022-04-05 11:29:41.653129   1.098  1.0981  1.3139  1.3139  ...  1.3135

                                      JPY=                                  \
                                       ASK                             BID
                              open   close    high     low    open   close
Timestamp
2022-04-05 11:29:33.651766    <NA>  122.80  122.82  122.80  122.80  122.79
2022-04-05 11:29:35.670790  1.3135  122.80  122.81  122.80  122.81  122.79
2022-04-05 11:29:37.696670  1.3133  122.81  122.81  122.81  122.81  122.78
2022-04-05 11:29:39.719351    <NA>  122.81  122.81  122.81  122.81  122.78
2022-04-05 11:29:41.653129  1.3135  122.80  122.81  122.80  122.81  122.77



                              high     low    open
Timestamp
2022-04-05 11:29:33.651766  122.79  122.77  122.79
2022-04-05 11:29:35.670790  122.79  122.78  122.78
2022-04-05 11:29:37.696670  122.78  122.78  122.78
2022-04-05 11:29:39.719351  122.78  122.78  122.78
2022-04-05 11:29:41.653129  122.77  122.77  122.77

[5 rows x 24 columns]

#### Close the stream

In [11]:
stream.close()

### Record OHLC bars with events

#### Create and open a Pricing stream

In [12]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Define a callback to receive new bars

In [13]:
def print_history(bar, recorder):
    clear_output(wait=True)
    current_time = datetime.datetime.now().time()
    print("New bar received at", current_time)
    display(bar)

#### Start recording

Start recording 5 seconds OHLC bars

In [14]:
stream.recorder.record(frequency='5s', on_data=print_history)

New bar received at 11:30:15.252725

                              EUR=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-05 11:29:55.135992  1.0984  1.0984  1.0982  1.0982  1.0980  1.0981
2022-04-05 11:30:00.161031  1.0984  1.0984  1.0983  1.0983  1.0980  1.0981
2022-04-05 11:30:05.185442  1.0982  1.0984  1.0982  1.0982  1.0981  1.0981
2022-04-05 11:30:10.209268  1.0984  1.0984  1.0983  1.0983  1.0980  1.0982
2022-04-05 11:30:15.232910  1.0984  1.0984  1.0984  1.0984  1.0980  1.0980

                                             GBP=          ...          \
                                              ASK          ...     BID
                              low    open   close    high  ...     low
Timestamp                                                  ...
2022-04-05 11:29:55.135992  1.098  1.0981  1.3139  1.3139  ...  1.3135
2022-04-05 11:30:00.161031  1.098  1.0981   1.314   1.314  ...  1.3133
2022-04-05 11:30:05.185442  1.098  1.0980   1.314   1.314  ...  1.3133
2022-04-05 11:30:10.209268  1.098  1.0981  1.3141  1.3141  ...  1.3133
2022-04-05 11:30:15.232910  1.098  1.0980    <NA>    <NA>  ...    <NA>

                                      JPY=                                  \
                                       ASK                             BID
                              open   close    high     low    open   close
Timestamp
2022-04-05 11:29:55.135992  1.3135  122.79  122.80  122.79  122.80  122.78
2022-04-05 11:30:00.161031  1.3135  122.80  122.80  122.79  122.79  122.77
2022-04-05 11:30:05.185442  1.3136  122.79  122.80  122.79  122.80  122.77
2022-04-05 11:30:10.209268  1.3136  122.80  122.80  122.80  122.80  122.77
2022-04-05 11:30:15.232910    <NA>  122.80  122.81  122.80  122.81  122.77



                              high     low    open
Timestamp
2022-04-05 11:29:55.135992  122.78  122.77  122.77
2022-04-05 11:30:00.161031  122.77  122.77  122.77
2022-04-05 11:30:05.185442  122.77  122.77  122.77
2022-04-05 11:30:10.209268  122.77  122.77  122.77
2022-04-05 11:30:15.232910  122.78  122.77  122.78

[5 rows x 24 columns]

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [15]:
stream.recorder.stop()
stream.recorder.get_history()

                              EUR=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-05 11:29:55.135992  1.0984  1.0984  1.0982  1.0982  1.0980  1.0981
2022-04-05 11:30:00.161031  1.0984  1.0984  1.0983  1.0983  1.0980  1.0981
2022-04-05 11:30:05.185442  1.0982  1.0984  1.0982  1.0982  1.0981  1.0981
2022-04-05 11:30:10.209268  1.0984  1.0984  1.0983  1.0983  1.0980  1.0982
2022-04-05 11:30:15.232910  1.0984  1.0984  1.0984  1.0984  1.0980  1.0980

                                             GBP=          ...          \
                                              ASK          ...     BID
                              low    open   close    high  ...     low
Timestamp                                                  ...
2022-04-05 11:29:55.135992  1.098  1.0981  1.3139  1.3139  ...  1.3135
2022-04-05 11:30:00.161031  1.098  1.0981   1.314   1.314  ...  1.3133
2022-04-05 11:30:05.185442  1.098  1.0980   1.314   1.314  ...  1.3133
2022-04-05 11:30:10.209268  1.098  1.0981  1.3141  1.3141  ...  1.3133
2022-04-05 11:30:15.232910  1.098  1.0980    <NA>    <NA>  ...    <NA>

                                      JPY=                                  \
                                       ASK                             BID
                              open   close    high     low    open   close
Timestamp
2022-04-05 11:29:55.135992  1.3135  122.79  122.80  122.79  122.80  122.78
2022-04-05 11:30:00.161031  1.3135  122.80  122.80  122.79  122.79  122.77
2022-04-05 11:30:05.185442  1.3136  122.79  122.80  122.79  122.80  122.77
2022-04-05 11:30:10.209268  1.3136  122.80  122.80  122.80  122.80  122.77
2022-04-05 11:30:15.232910    <NA>  122.80  122.81  122.80  122.81  122.77



                              high     low    open
Timestamp
2022-04-05 11:29:55.135992  122.78  122.77  122.77
2022-04-05 11:30:00.161031  122.77  122.77  122.77
2022-04-05 11:30:05.185442  122.77  122.77  122.77
2022-04-05 11:30:10.209268  122.77  122.77  122.77
2022-04-05 11:30:15.232910  122.78  122.77  122.78

[5 rows x 24 columns]

New bar received at 11:30:16.111852

                              EUR=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-05 11:29:55.135992  1.0984  1.0984  1.0982  1.0982  1.0980  1.0981
2022-04-05 11:30:00.161031  1.0984  1.0984  1.0983  1.0983  1.0980  1.0981
2022-04-05 11:30:05.185442  1.0982  1.0984  1.0982  1.0982  1.0981  1.0981
2022-04-05 11:30:10.209268  1.0984  1.0984  1.0983  1.0983  1.0980  1.0982
2022-04-05 11:30:15.232910  1.0984  1.0984  1.0984  1.0984  1.0980  1.0980
2022-04-05 11:30:16.063768  1.0984  1.0984  1.0984  1.0984  1.0980  1.0980

                                             GBP=          ...          \
                                              ASK          ...     BID
                              low    open   close    high  ...     low
Timestamp                                                  ...
2022-04-05 11:29:55.135992  1.098  1.0981  1.3139  1.3139  ...  1.3135
2022-04-05 11:30:00.161031  1.098  1.0981   1.314   1.314  ...  1.3133
2022-04-05 11:30:05.185442  1.098  1.0980   1.314   1.314  ...  1.3133
2022-04-05 11:30:10.209268  1.098  1.0981  1.3141  1.3141  ...  1.3133
2022-04-05 11:30:15.232910  1.098  1.0980    <NA>    <NA>  ...    <NA>
2022-04-05 11:30:16.063768  1.098  1.0980    <NA>    <NA>  ...    <NA>

                                      JPY=                                  \
                                       ASK                             BID
                              open   close    high     low    open   close
Timestamp
2022-04-05 11:29:55.135992  1.3135  122.79  122.80  122.79  122.80  122.78
2022-04-05 11:30:00.161031  1.3135  122.80  122.80  122.79  122.79  122.77
2022-04-05 11:30:05.185442  1.3136  122.79  122.80  122.79  122.80  122.77
2022-04-05 11:30:10.209268  1.3136  122.80  122.80  122.80  122.80  122.77
2022-04-05 11:30:15.232910    <NA>  122.80  122.81  122.80  122.81  122.77
2022-04-05 11:30:16.063768    <NA>  122.80  122.80  122.80  122.80  122.79



                              high     low    open
Timestamp
2022-04-05 11:29:55.135992  122.78  122.77  122.77
2022-04-05 11:30:00.161031  122.77  122.77  122.77
2022-04-05 11:30:05.185442  122.77  122.77  122.77
2022-04-05 11:30:10.209268  122.77  122.77  122.77
2022-04-05 11:30:15.232910  122.78  122.77  122.78
2022-04-05 11:30:16.063768  122.79  122.79  122.79

[6 rows x 24 columns]

#### Close the stream

In [16]:
stream.close()

### Close the session

In [17]:
rd.close_session()