----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get history
This notebook demonstrates how to retrieve Pricing history and Fundamental & Reference data history using the get_history() function.

#### About the get_history function
The get_history() function allows you to retrieve pricing history as well as Fundamental & Reference data history via a single function call.


***get_history()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optional: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optional: Yes  
-  ***interval***: Data sampling interval  
    - Type: String
    - Supported values: *tick, tas, taq, minute, 1min, 5min, 10min, 30min, 60min, hourly, 1h, daily, 1d, 1D, 7D, 7d, weekly, 1W, monthly, 1M, quarterly, 3M, 6M, yearly, 1Y*     
    - Optional: Yes  
-  ***start***: The start date and timestamp of the requested history
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
-  ***end***: The end date and timestamp of the requested history  
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
-  ***adjustments*** : Tells the system whether to apply or not CORAX (Corporate Actions) events or exchange/manual corrections or price and volume adjustment according to trade/quote qualifier summarization actions to historical time series data. 
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
    - Supported values:
        - exchangeCorrection - Apply exchange correction adjustment to historical pricing
        - manualCorrection - Apply manual correction adjustment to historical pricing i.e. annotations made by content analysts
        - CCH - Apply Capital Change adjustment to historical Pricing due to Corporate Actions e.g. stock split
        - CRE - Apply Currency Redenomination adjustment when there is redenomination of currency
        - RTS - Apply Refinitiv TimeSeries adjustment to adjust both historical price and volume
        - RPO - Apply Refinitiv Price Only adjustment to adjust historical price only not volume
        - unadjusted - Not apply both exchange/manual correct and CORAX
        - qualifiers - For tick, tas and taq intervals only. Apply price or volume adjustment to historical pricing according to trade/quote qualifier summarization actions e.g. noPrice, noVolume, noPriceAndVolume, noBid, noAsk, noBidAndAsk, outOfSessionIntraday, outOfSessionInterday.
-  ***count*** : The maximum number of data points returned. 
Values range: 1 - 10000
    
**get_history()** returns a pandas.DataFrame. It raises exceptions on error and when no data is available.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [1]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

## Some Imports to start with

In [1]:
import refinitiv.data as rd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### Pricing history

In [3]:
rd.get_history(universe="LSEG.L")

LSEG.L,TRDPRC_1,MKT_HIGH,MKT_LOW,ACVOL_UNS,MKT_OPEN,BID,ASK,TRNOVR_UNS,VWAP,MID_PRICE,...,CLS_AUCVOL,OPN_AUCVOL,OPN_AUC,CLS_AUC,INT_AUC,INT_AUCVOL,EX_VOL_UNS,ALL_C_MOVE,ELG_NUMMOV,NAVALUE
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-04 00:00:00+00:00,8138.0,8190,8046,293949,8072,8138,8140,2390985259.32292,8134.01111,8139,...,146960,5074,8072,8140,<NA>,<NA>,402508,3433,3013,<NA>
2022-04-01 00:00:00+00:00,8084.0,8084,7958,426822,8000,8076,8084,3434295356.9,8046.2565,8080,...,140366,17122,8000,8084,<NA>,<NA>,558981,4079,3573,<NA>
2022-03-31 00:00:00+00:00,7952.4,8014,7874,919332,7996,7964,7966,7311988160.0,7953.8568,7965,...,396369,17384,7996,7966,<NA>,<NA>,1053701,6311,5368,<NA>
2022-03-30 00:00:00+00:00,7912.0,7912,7808,543416,7854,7900,7912,4287124681.56,7889.21255,7906,...,271781,6676,7854,7912,<NA>,<NA>,610099,5160,4697,<NA>
2022-03-29 00:00:00+00:00,7867.9213,7914,7794,622016,7866,7868,7870,4887848951.04,7858.0756,7869,...,167270,4498,7866,7868,<NA>,<NA>,937465,5609,5326,<NA>
2022-03-28 00:00:00+00:00,7834.0,7940,7834,681426,7834,7862,7864,5356043043.46,7860.0484,7863,...,163154,3771,7834,7864,<NA>,<NA>,804080,4674,3689,<NA>
2022-03-25 00:00:00+00:00,7822.0,7874,7744,560199,7800,7824,7828,4375674501.08,7810.92864,7826,...,211572,30099,7800,7828,<NA>,<NA>,1090928,6612,6257,<NA>
2022-03-24 00:00:00+00:00,8000.0,8000,7802,488513,7890,7824,7832,3845708902.39,7872.27546,7828,...,184438,4761,7890,7824,<NA>,<NA>,521382,4153,3949,<NA>
2022-03-23 00:00:00+00:00,7842.0,7994,7826,435459,7912,7842,7844,3425923450.60216,7867.3838,7843,...,202369,4037,7912,7842,<NA>,<NA>,481738,4316,4024,<NA>
2022-03-22 00:00:00+00:00,7928.0,7952,7720,861415,7886,7914,7916,6777632915.31,7870.2698,7915,...,278345,4538,7886,7914,<NA>,<NA>,939352,6880,6590,<NA>
2022-03-21 00:00:00+00:00,7894.0,8100,7834,582036,8000,7910,7912,4613945997.33,7927.2455,7911,...,208374,21141,8000,7912,<NA>,<NA>,799727,6201,5709,<NA>
2022-03-18 00:00:00+00:00,7964.0,7970,7686,902123,7826,7958,7960,7093404617.52,7862.98284,7959,...,447513,2523,7826,7960,7710,144074,927245,6500,6150,<NA>
2022-03-17 00:00:00+00:00,7810.0,7946,7748,647205,7926,7810,7814,5058708482.15,7816.243,7812,...,217020,5302,7926,7810,<NA>,<NA>,695528,8134,7814,<NA>
2022-03-16 00:00:00+00:00,7868.1132,7950,7668,863646,7706,7902,7904,6770365314.17,7839.27144,7903,...,331300,5473,7706,7904,<NA>,<NA>,946955,7946,7194,<NA>
2022-03-15 00:00:00+00:00,7614.0,7776,7546,402890,7648,7664,7666,3087690629.56,7663.1042,7665,...,119510,1871,7648,7664,<NA>,<NA>,424637,6311,5849,<NA>
2022-03-14 00:00:00+00:00,7718.0,7758,7418,536156,7492,7718,7720,4118005470.95,7666.3173,7719,...,199521,6206,7492,7718,<NA>,<NA>,612693,6166,5639,<NA>
2022-03-11 00:00:00+00:00,7462.0,7512,7328,797130,7328,7436,7440,5930200555.15,7439.53902,7438,...,377932,2983,7328,7440,<NA>,<NA>,850555,6528,6066,<NA>
2022-03-10 00:00:00+00:00,7316.0,7320,7186,529805,7250,7272,7316,3862241119.46,7289.939,7294,...,286154,5645,7250,7316,<NA>,<NA>,635697,4925,4409,<NA>
2022-03-09 00:00:00+00:00,7272.0,7354,6986,890127,7222,7270,7272,6412027789.51,7203.6415,7271,...,314324,15650,7222,7272,<NA>,<NA>,946588,10030,9410,<NA>
2022-03-08 00:00:00+00:00,6982.0,7312,6982,858443,7206,6982,6984,6066068286.5221,7066.36377,6983,...,327501,16757,7206,6982,<NA>,<NA>,907259,9978,9443,<NA>

In [4]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields=["BID", "ASK"], interval="1Y")

                                VOD.L                   LSEG.L
                                  BID         ASK          BID          ASK
Date
2022-12-31 00:00:00+00:00      125.96       126.0       8138.0       8140.0
2021-12-31 00:00:00+00:00      112.18      112.26       6930.0       6938.0
2020-12-31 00:00:00+00:00      120.94      120.96       9008.0       9016.0
2019-12-31 00:00:00+00:00      146.76      146.86       7722.0       7750.0
2018-12-31 00:00:00+00:00       152.9      153.06       4060.0       4062.0
2017-12-31 00:00:00+00:00      234.85       235.0       3786.0       3793.0
2016-12-31 00:00:00+00:00       199.8      199.85       2873.0       2914.0
2015-12-31 00:00:00+00:00       221.0       221.1       2742.0       2744.0
2014-12-31 00:00:00+00:00      222.65       222.7       2213.0       2221.0
2013-12-31 00:00:00+00:00  242.902706  243.056442  1595.424872  1596.346018
2012-12-31 00:00:00+00:00  158.245476  158.296721   997.601118  1002.206848
2011-12-31 00:00:00+00:00  183.355671  183.458162   729.547632    732.31107
2010-12-31 00:00:00+00:00  166.194695  166.345052   771.459775   771.920348
2009-12-31 00:00:00+00:00  143.741371  144.042085    658.61939   661.382828
2008-12-31 00:00:00+00:00  139.280777  139.330896    469.78446   476.232482
2007-12-31 00:00:00+00:00  188.146829  188.247067  1822.947934   1823.86908
2006-12-31 00:00:00+00:00  141.586252  141.836848  1205.780114   1206.70126
2005-12-31 00:00:00+00:00  125.435296  125.685666   567.048027   571.193788
2004-12-31 00:00:00+00:00  141.208597  141.458966   534.342576   536.185136
2003-12-31 00:00:00+00:00  138.204158  138.454528   304.400885   308.985235

### Fundamental data

In [5]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

                               LSEG.L        VOD.L
                              Revenue      Revenue
Date
2019-03-31 00:00:00+00:00        <NA>  43666000000
2018-12-31 00:00:00+00:00  2135000000         <NA>
2018-03-31 00:00:00+00:00        <NA>  46571000000
2017-12-31 00:00:00+00:00  1955000000         <NA>
2017-03-31 00:00:00+00:00        <NA>  47631000000
2016-12-31 00:00:00+00:00  1657000000         <NA>
2016-03-31 00:00:00+00:00        <NA>  49810000000
2015-12-31 00:00:00+00:00  1418600000         <NA>
2015-03-31 00:00:00+00:00        <NA>  48385000000
2014-12-31 00:00:00+00:00   957300000         <NA>

### Fundamental and pricing

In [6]:
rd.get_history(
    universe='LSEG.L',
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2019-10-01",
)

LSEG.L                      ASK   BID     Revenue
Date
2019-12-31 00:00:00+00:00  7750  7722        <NA>
2018-12-31 00:00:00+00:00  4062  4060        <NA>
2017-12-31 00:00:00+00:00  3793  3786  1955000000
2016-12-31 00:00:00+00:00  2914  2873  1657000000
2015-12-31 00:00:00+00:00  2744  2742  1418600000
2014-12-31 00:00:00+00:00  <NA>  <NA>   957300000

### Open High Low Close

#### Get tick data

In [7]:
df=rd.get_history(universe="GOOG.O", fields=['BID','ASK'], interval="tick", count=2000)
df

GOOG.O                                BID     ASK
Timestamp
2022-04-05 09:25:23.870000+00:00  2870.01    2880
2022-04-05 09:25:23.870000+00:00  2870.01    2883
2022-04-05 09:25:23.655000+00:00  2870.01    2880
2022-04-05 09:25:09.959000+00:00  2870.01  2880.5
2022-04-05 09:25:09.959000+00:00  2870.01    2885
...                                   ...     ...
2022-04-05 08:12:11.209000+00:00   2868.9  2881.4
2022-04-05 08:12:11.209000+00:00   2868.9  2882.2
2022-04-05 08:12:10.364000+00:00   2868.9  2881.4
2022-04-05 08:12:08.151000+00:00  2869.57  2881.4
2022-04-05 08:12:08.150000+00:00  2869.57  2882.2

[2000 rows x 2 columns]

#### Resample to 5 seconds bars

In [8]:
df.ohlc("5s")

GOOG.O                         BID                                ASK          \
                              open     high      low    close    open    high
Timestamp
2022-04-05 08:12:05+00:00  2869.57  2869.57  2869.57  2869.57  2882.2  2882.2
2022-04-05 08:12:10+00:00  2868.90  2870.07  2868.90  2870.07  2881.4  2882.2
2022-04-05 08:12:15+00:00      NaN      NaN      NaN      NaN     NaN     NaN
2022-04-05 08:12:20+00:00  2868.90  2870.97  2868.90  2869.07  2881.4  2881.4
2022-04-05 08:12:25+00:00  2869.07  2870.07  2868.90  2870.07  2881.4  2881.4
...                            ...      ...      ...      ...     ...     ...
2022-04-05 09:25:00+00:00  2870.01  2870.01  2870.01  2870.01  2880.0  2888.0
2022-04-05 09:25:05+00:00  2870.01  2870.01  2870.01  2870.01  2888.0  2888.0
2022-04-05 09:25:10+00:00      NaN      NaN      NaN      NaN     NaN     NaN
2022-04-05 09:25:15+00:00      NaN      NaN      NaN      NaN     NaN     NaN
2022-04-05 09:25:20+00:00  2870.01  2870.01  2870.01  2870.01  2880.0  2883.0

GOOG.O
                              low    close
Timestamp
2022-04-05 08:12:05+00:00  2881.4  2881.40
2022-04-05 08:12:10+00:00  2881.4  2881.40
2022-04-05 08:12:15+00:00     NaN      NaN
2022-04-05 08:12:20+00:00  2881.4  2881.40
2022-04-05 08:12:25+00:00  2881.4  2881.40
...                           ...      ...
2022-04-05 09:25:00+00:00  2880.0  2886.92
2022-04-05 09:25:05+00:00  2880.5  2885.00
2022-04-05 09:25:10+00:00     NaN      NaN
2022-04-05 09:25:15+00:00     NaN      NaN
2022-04-05 09:25:20+00:00  2880.0  2883.00

[880 rows x 8 columns]

### Close the session

In [9]:
rd.close_session()